* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #E5E0FF;
}

.body2 {
    background-color: #091615;

}

.novbar {
    background-color: #e4b7de;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: cursive;
    height: 50px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.home-btn-container{
    height: 100px;
    width: 100%;
    margin-top: 50px;


}

.HomeBtn {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.Lightbtn {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    font-family: cursive;
    background-color: #4e4376;
    color: aliceblue;
    margin-left: 85%;
}

.Lightbtn:hover {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    margin-top: 10px;
    font-family: cursive;
    background-color: #2a5298;
    transform: scale(1.1);
    color: aliceblue;
    margin-left: 85%;
}

.Darkbtn {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    margin-top: -20px;
    font-family: cursive;
    background-color: #4e4376;
    color: aliceblue;
    margin-left: 30px;
}

.Darkbtn:hover {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    font-family: cursive;
    background-color: #2a5298;
    transform: scale(1.1);
    color: aliceblue;
    margin-left: 30px;
}

.optimization {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 410px;
    width: 360px;
    cursor: pointer;
    border: 20px solid black;
}

.genrate-img {
    display: block;
    width: 250px;
    border-radius: 50px / 10px;
    background-color: #37306B;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
    font-family: cursive;
    box-shadow: 0px 0px 6px 3px #666699;

}

.genrate-img:hover {
    width: 20px 25px;
    font-size: 25px;
    background-color: #66347F;
    color: azure;
    border-radius: 15px;
    font-family: cursive;
    box-shadow: 2px 2px 2px 2px #263159;

}

.myInput {
    height: 30px;
    width: 80%;
    margin-left: 80px;
    margin-top: 30px;
    background-color: aliceblue;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #245953;
}

.CopyBtn {
    display: block;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #37306B;
    color: azure;
    float: right;
    margin-right: 90px;
    margin-top: -40px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-family: cursive;
    box-shadow: 2px 2px 2px 2px #263159;
    cursor: pointer;
}

.CopyBtn:hover {
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #66347F;
    color: azure;
    border-radius: 20px;
    font-family: cursive;
    box-shadow: 2px 2px 2px 2px #263159;
}

