*{
    margin: 0;
    padding: 0;
}



body {
    background-color: #E5E0FF;
}
.body2{
    background-color: #091615;

}

.novbar {
    background-color: #e4b7de;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    height: 50px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
}

.mode-btn{
    margin-top: -40px;
}

.Lightbtn {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    font-family: cursive;
    background-color: #4e4376;
    color: aliceblue;
    margin-left: 85%;
}

.Lightbtn:hover {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    margin-top: 10px;
    font-family: cursive;
    background-color: #2a5298;
    transform: scale(1.1);
    color: aliceblue;
    margin-left: 85%;
}

.Darkbtn {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    margin-top: -20px;
    font-family: cursive;
    background-color: #4e4376;
    color: aliceblue;
    margin-left: 30px;
}

.Darkbtn:hover {
    height: 35px;
    width: 75px;
    font-size: 17px;
    border-radius: 15%;
    padding: 2px;
    font-family: cursive;
    background-color: #2a5298;
    transform: scale(1.1);
    color: aliceblue;
    margin-left: 30px;
}

.select-bar {
    display: block;
    margin: auto;
    margin-left: 460px;
    width: 550px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px / 10px;
    border: none;
    background-color: #37306B;
    color: white;
    box-shadow: 0px 0px 6px 3px #666699;
    text-align: center;
    font-family: cursive;

}

.optimization {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 410px;
    width: 360px;
    cursor: pointer;
    border: 20px solid black;
}

.genrate-img {
    display: block;
    width: 250px;
    border-radius: 50px / 10px;
    background-color: #37306B;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    margin-left: 620px;
    margin-top: 30px;
    cursor: pointer;
    font-family: cursive;
    box-shadow: 0px 0px 6px 3px #666699;

}



.genrate-img:hover {
    background-color: #6634f6;
    width: 20px 25px;
    font-size: 25px;
    box-shadow: 0 0 5px 3px #9933ff
    ;

}

.heading {
    text-align: center;
    font-size: 30px;
    margin-left: -70px;
    font-family: cursive;
}